@model BusinessesInterface.Models.Device

<div class="text-center">
    <h1 class="display-1">De-Activation succeeded</h1>
    <p>Socket number {{Model.Id}} is off 
        <a @Html.ActionLink("Back to all actions", "Index","DeviceUsage")</a></p>
</div>
