<div class="text-center">
    <h1 class="display-1">De-Activation failed</h1>
    <p>Something went wrong</p>
    <div>
        @Html.ActionLink("Try Again", "DevicesController","DeviceUsage")
    </div>
</div>
