@model IEnumerable<BusinessesInterface.Models.Device>

@{
    ViewBag.Title = "List of Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usage History</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
                <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th></th>
    </tr>

    @foreach (var device in Model)
    {

        @foreach(var time in device.TimeStamp)
        {
        <tr>
        <td>
        @Html.DisplayFor(modelItem => device.Id)
        </td>
         <td>
        @Html.DisplayFor(modelItem => time)
        </td>
        </tr>
        }
    }

</table>

