<div class="text-center">
    <h1 class="display-1">Nothing to show</h1>
    <p>No sockets registerd for this address</p>
    <div>
        @Html.ActionLink("Back to all actions", "Index","DeviceUsage")
    </div>
</div>
