<div class="text-center">
    <h1 class="display-1">Can not perform action</h1>
    <p>No table number was entered
        <a @Html.ActionLink("Try Again", "Edit","DeviceUsage")</a></p>
    <div>
  @Html.ActionLink("Back to all results", "Index")
    </div>

</div>
