<div class="text-center">
    <h1 class="display-1">Something went wrong</h1>
    <p>Could not update table number for this deice<a @Html.ActionLink("Try Again", "ShowTablesMap","DeviceUsage")</a></p>
</div>

